/*BACKGROUND*/
html, body {
 	margin: 0;
 	padding: 0;
}
body {
 	background-image: url("./background");
 	font-family: Verdana, sans-serif; 
 	font-size: 100%;
}
.white_background{
	background: #f3f3f1;
	padding: 2%;
	border-left: solid #5f5c54;
	border-right: solid #5f5c54;
	height: auto;

}
.padding{
	margin: auto 10%;
	height: auto;
}

/*HEADER*/
header{
  	background-color: #b7b5ae;
  	margin:auto;
  	padding:auto;
}
.header {
  	display: flex;
  	align-items: flex-start;
  	border: solid #5f5c54; 
}
.titre{
	font-family: cursive;
	font-size: 400%; 
	margin: auto;
  	width: 100%;
  	padding: 10px;
  	text-align: center;
  	font-weight: bold;
}
.titre a, .titre a:hover{
	color:white;
	text-decoration: none;
}

/*PROFIL SECTION*/
.profil_section {
	background-color: #9f9c93;
	text-align: center;
	height: 100%;
	border-left: solid #5f5c54; 
}
.profil_picture{
	background-color: white;
	text-align: center;
	height: 100%;
	margin:10px 10px 10px 10px;
}
.profil_picture{
	border: solid #5f5c54; 
}
.buttons button{
     	margin:10px 10px -5px 10px;
}
.buttons {
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	background-color: #9f9c93;
  	border-top: solid #5f5c54; 
}
.Profil{
	width:100%;
}

/*TABLE*/
table{
	border: solid #5f5c54; 
	background-color: white;
	width:100%;
	height: auto;
}
th{
	border: solid #5f5c54; 
	color: #5f5c54; 
}
td{
	border: solid #5f5c54; 
	color: #7a766c;
	text-align: center;
	vertical-align: middle;
}
.td{
	width: 8%;
}

/*TITRES*/
h1 {
 	font-size: 200%; 
 	color: #5f5c54; 
}
h2 {
 	font-size: 150%; 
 	color: #878378; 
}
 
/*TEXT*/
p,ul,li, button {
 	color: #5f5c54;; 
}
button, input, select{
	border: solid #5f5c54;
     	background-color: white;
}
button:hover, input:hover, select:hover{
     	background-color: #deddda;
}

/*LINK*/
a:link {
	color: white;
 	text-decoration: none;
}
a:visited {
 	color: white;
 	text-decoration: none;
}
a:hover {
 	color: white;
 	text-decoration: none;
}
a:active, a:focus {
 	color: red;
}
.voiture:hover{
	filter : grayscale(50%);
}
