/*BACKGROUND*/
html, body {
 	margin: 0;
 	padding: 0;
}
body {
 	background-image: url("./background");
 	font-family: Verdana, sans-serif; 
}
.white_background{
	background: #f3f3f1;
	border-left: solid #5f5c54;
	border-right: solid #5f5c54;
	height: auto;

}
.padding{
	margin: auto 10%;
	height: auto;
}

.connection_section{
	border: solid #5f5c54;
	text-align: center;
	padding: 1%;
	margin-left: auto;
    	margin-right: auto;
    	background-color: #deddda;
}
.double_section{
	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 2%;
}

/*TITRES*/
.title{
	border:solid #5f5c54;
 	background-color: #b7b5ae;
 	margin: 0 20%;
}
h1 {
 	font-size: 350%; 
 	color: white; 
 	text-align: center;
}
h2 {
 	font-size: 200%; 
 	color: #878378; 
}
 
/*TEXT*/
p,ul,li,button,input {
 	color: #5f5c54;
 	font-size: 150%; 
}
select{
	color: #5f5c54;
 	font-size: 110%; 
}
button, input, select{
	border: solid #5f5c54;
     	background-color: white;
}
button:hover, input:hover, select:hover{
     	background-color: #deddda;
}

/*LINK*/
a:link {
	color: white;
 	text-decoration: none;
}
a:visited {
 	color: white;
 	text-decoration: none;
}
a:hover {
 	color: white;
 	text-decoration: none;
}
a:active, a:focus {
 	color: red;
}
.voiture:hover{
	filter : grayscale(50%);
}
